<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-card>
        <v-card-title >
            <v-text-field
                    v-model="search"
                    append-icon="mdi-text-box-search-outline"
                    label="جستجو"
                    single-line
                    hide-details
                    outlined
                    id="search_input"
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :page.sync="page"
                :headers="headers"
                :items="roles"
                :items-per-page="itemsPerPage"
                :search="search"
                class="elevation-1"
                @page-count="pageCount = $event"
                hide-default-footer
        >
            <template v-slot:item="row">

                <tr>
                    <td>{{row.index+1}}</td>
                    <td>{{row.item.role}}</td>
                    <td>
                        <a href="/user-managment/">
                            <v-btn title="ویرایش سطح دسترسی" dark class="mx-2" color="blue">
                                سطح دسترسی
                            </v-btn>
                        </a>

                        <v-btn title="حذف نقش" dark class="mx-2"  color="error" @click="deleteRole">
                            <v-icon dark>mdi-delete</v-icon>
                        </v-btn>

                    </td>
                </tr>
            </template>
        </v-data-table>
        <div class="text-center mt-10">
            <v-pagination  v-model="page" :length="pageCount"></v-pagination>
            <v-row>
                <v-col cols="8">
                </v-col>
                <v-col cols="2">
                    <v-checkbox
                            class="showAll"
                            @change="showAllrecords($event)"
                            label="نمایش همه"
                            id="showAll_checkbox"
                    ></v-checkbox>
                </v-col>
                <v-col cols="2" class="pr-5">
                    <v-select
                            :items=itemsPerPage_array
                            label="تعداد آیتم در صفحه"
                            dense
                            v-model="itemsPerPage"
                            solo
                    ></v-select>
                </v-col>
            </v-row>
        </div>

        <v-snackbar
                v-model="snackbar"
                color = "error"
                timeout = 100000
        >
            آیا مطمعنید که نقش مورد نظر حذف شود؟

            <template v-slot:action="{ attrs }">
                <v-btn
                        color="white"
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                >
                    لغو
                </v-btn>
                <v-btn
                        color="white"
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                >
                    بله
                </v-btn>
            </template>
        </v-snackbar>
    </v-card>
</template>



<script>
    export default {
        data () {
            return {
                showAll_checkbox_model:true,
                page: 1,
                pageCount: 1,
                itemsPerPage:5,
                itemsPerPage_array:[5,10,15,20],
                search: '',
                snackbar: false,

                headers: [
                    {
                        text: 'ردیف',
                        align: 'start',
                        sortable: false,
                    },
                    { text: 'نام نقش', value: 'role' , sortable: true,},
                    { text: '',  sortable: false, },

                ],
                roles: [
                    {
                        role: 'ادمین اصلی',

                    },
                    {
                        role: 'کاربر مبین',

                    },
                    {
                        role: 'کاربر اولنگ',

                    },
                    {
                        role: 'کارشناس پایش تجهیزات',

                    },
                    {
                        role: 'کارشناس کنترل عیار',

                    },
                    {
                        role: 'کارخانه فرآوری',

                    },
                    {
                        role: 'کارشناس نظارت آتشباری',

                    },
                    {
                        role: 'گزارش گیری محدود',

                    },
                    {
                        role: 'مدیر 1',

                    },
                    {
                        role: 'مدیر 2',

                    },
                ],
            }
        },
        props:{

        },
        methods:{
            deleteRole(){
                this.snackbar = true
            },
            showAllrecords(event){
                if (event===true){
                    this.itemsPerPage = -1;
                } else if(event===false){
                    this.itemsPerPage = 5;
                    this.page= 1;
                }
            }
        },
        mounted(){
            document.getElementById('search_input').focus()
        },
        watch:{
            itemsPerPage(){
                this.page = 1;
            }
        }

    }
</script>

<style>
    table th span{
        font-size: 1.3rem;
    }
    .v-input__slot{
        flex-direction: row-reverse;
    }
    .v-text-field__slot label{
        right: 0 !important;
        left: auto !important;
    }
    .v-text-field__slot input{
        direction: rtl;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #8c8c8c !important;
        opacity: 1; /* Firefox */
    }
    table{
        direction: rtl;
    }

    .v-snack__content {
        margin-left: auto !important;
        margin-right: unset !important;
    }

    .showAll .v-input__slot{
        flex-direction: row !important;
    }
    .showAll .v-input__slot label{
        margin-left: 1rem !important;
    }
    .v-snack__wrapper{
        flex-direction: column;
    }
    .showAll{
        margin-top: 0 !important;
    }

</style>
